body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #F5F5F5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 840px;
}

.serfhedding {
    background-color: #C7D2D9;
}

.price{
    font-style:italic;
}

.logo-style {
    width: 181px;
    margin: 15px;
}

.form-add{
    width: 859px;
}

.form-body textarea{ 
    width:827px;
    height:254px;
}

.form-post {
    width: 859px;
}

.serfhedding-post {
    background-color: #C7D2D9;
}

.serfhedding-add {
    background-color: #C7D2D9;
    height: 35px;
}

.full-widht{
    width: 100%;
}

.tiny-panel {
   width:269px; 
   height:305px; 
   position: center; 
   margin-top: 24px;
}



.panel-heading {
    background-color: #C7D2D9;
}

.nick-photo {
    height: 37px;
    width: 37px;
    border-radius: 19px;
    margin: 7px 10px 0px 0px;
}

textarea{
    width: 100%;
    height: 154px;
    color: black;
}

.exit-buttom{
    width: 22px;
    height: 23px;
    margin: 15px 13px 15px 20px;
}

.nick {
    font-size: 16px;
    font-family: montserrat;
}

.body-content {
    margin: 30px auto;
    font-family: montserrat;
    font-size: 13px;
}

.panel-heading {
    background-color: #DCE4E9;
    color: #6C757D;
}

.panel {
    border: 1px solid #D5D5D5;
}

.add-btn {
    background-color: #DCE4E9;
    float: right;
    width: 194px;
    height: 35px;
    font-size: 14px;
    border: 1px solid #AABACC;
}

.add-photo-btn {
    margin-right: 0;
    height: 35px;
    width: 294px;
}

.remember {
    color: #6C757D;
    padding-left: 53px;
    margin-bottom: 0;
}

.validation-summary-errors ul {
    text-align: center;
    padding-left: 0;
    list-style: none;
}

.btn-in {
    width: 217px;
    height: 35px;
    margin-left: 10px;
    background-color: #DCE4E9;
    font-size: 14px;
    border: 1px solid #AABACC;
}
.btn-in a{
    color: #6C757D;
}

.btn-in a:hover {
    text-decoration: none;
    color: #6C757D;
}

.panel-heading ul{
    text-align: left;
}
.form-control{
    color: black;
}

.min-form {
    width: 290px;
}

.textarea-min {
    height: 34px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    
}

.form-groupp textarea {
    height: 34px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
}
.btn-reg {
    width: 184px;
    height: 35px;
    margin-left: 10px;
    background-color: #DCE4E9;
    font-size: 14px;
    border: 1px solid #AABACC;
}

.btn-in-little {
    width: 152px;
    height: 35px;
}

.text-r {
    word-break: break-all;
}



.clearable {
    background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}

    .clearable.x {
        background-position: right 5px center;
    }
    /* (jQ) Show icon */
    .clearable.onX {
        cursor: pointer;
    }
    /* (jQ) hover cursor style */
    .clearable::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
/* Remove IE default X */